body{
    background-color:black;
}
#a{
    height:3cm;
    width:3cm;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color:black;
    text-align:center;
    transform-style: preserve-3d;
}
#a:hover{
    color:white;
    transition-delay: 0.3s;
    transform-style: preserve-3d;

}
#b{
    height:3cm;
    width:3cm;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color:black;
    text-align:center;
}
#b:hover{
    color:white;

}
#c{
    height:3cm;
    width:3cm;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color:black;
    text-align:center;
}
#c:hover{
    color:white;

}
#d{
    height:3cm;
    width:3cm;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color:black;
    text-align:center;
}
#d:hover{
    color:white;

}
#e{
    height:3cm;
    width:3cm;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color:black;
    text-align:center;
}
#e:hover{
    color:white;

}
#f{
    height:3cm;
    width:3cm;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color:black;
    text-align:center;
}
#f:hover{
    color:white;

}
#g{
    height:3cm;
    width:3cm;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color:black;
    text-align:center;
}
#g:hover{
    color:white;

}